adal==1.2.7
adlfs==2022.4.0
aiohttp==3.8.1
aiosignal==1.2.0
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
azure-core==1.24.1
azure-datalake-store==0.0.52
azure-identity==1.10.0
azure-storage-blob==12.12.0
backcall==0.2.0
basemap-data==1.3.2
basemap-data-hires==1.3.2
bcrypt==3.1.7
black==22.1.0
bleach==4.1.0
blinker==1.4
Brlapi==0.7.0
cachetools==4.0.0
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.3
colorlog==6.6.0
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.28
dacite==1.6.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dictor==0.1.7
distfit==1.4.4
distro==1.4.0
distro-info===0.23ubuntu1
docker==5.0.3
duplicity==0.8.12.0
easydev==0.12.0
entrypoints==0.3
executing==0.8.2
fasteners==0.14.1
findspark==2.0.1
fitter==1.4.0
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
geographiclib==1.52
geopy==2.2.0
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
greenlet==1.1.2
hdbscan==0.8.27
httplib2==0.14.0
idna==2.8
imageio==2.10.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.8.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keyring==18.0.1
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
llvmlite==0.37.0
lockfile==0.12.2
louis==3.12.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.0.1
matplotlib==3.3.3
matplotlib-inline==0.1.3
mistune==0.8.4
monotonic==1.5
mpmath==1.2.1
msal==1.18.0
msal-extensions==1.0.0
msrest==0.6.21
multidict==6.0.2
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.10.4
notebook==6.4.8
numba==0.54.1
numpy==1.17.4
oauth2client==4.1.2
oauthlib==3.1.0
obspy==1.2.2
olefile==0.46
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==2.4.1
plotly==5.3.1
pluggy==1.0.0
portalocker==2.4.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
protobuf==3.6.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pwlf==2.0.5
py==1.11.0
pyamg==4.1.0
pyarrow==7.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pyclustertend==1.7.0
pycparser==2.21
pycups==1.9.73
pydantic==1.9.1
pyDOE==0.3.8
PyDrive==1.3.1
Pygments==2.11.2
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.7
pypickle==1.1.0
pyproj==1.9.6
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==7.1.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
pytz==2021.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
reportlab==3.5.34
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rsa==4.0
scikit-learn==0.24.2
scipy==1.8.1
seaborn==0.11.2
SecretStorage==2.3.1
Send2Trash==1.8.0
Shapely==1.7.1
simplejson==3.16.0
six==1.14.0
SQLAlchemy==1.4.34
ssh-import-id==5.10
stack-data==0.1.4
statsmodels==0.13.2
sympy==1.9
systemd-python==234
tenacity==8.0.1
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
tomli==2.0.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.0.1
ubuntu-advantage-tools==27.8
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.8
usb-creator==0.3.7
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
widgetsnbextension==3.5.2
xkit==0.0.0
yarl==1.7.2
zipp==3.7.0
#pip install git+https://github.com/aleju/imgaug