#####   UTILS DEPLOYMENT SETTINGS   #####
#      
#       should be set to suppport the class libraries and the application
#       to use the deplyment specific paramters for the OTA work loads
#        
#       See the respective sections: Spark
#
#       author: <nuwan.waidyanatha@rezgateway.com>    
#####

[SPARK]
#--settings to connect to the database to perform work loads '''
#  install and setup spark: https://computingforgeeks.com/how-to-install-apache-spark-on-ubuntu-debian/
#  also install findspark by running >>> python3 -m pip install findspark
#  to download Postgres JDBC drivers: https://jdbc.postgresql.org/
sparkHomeDir = /opt/spark/
sparkBinDir = /opt/spark/bin
sparkJarDir = /opt/spark/jars/postgresql-42.5.0.jar

###########################################

[STORES]
#--store temporary files; especially, for airflow xcom use
#  the function will use the function name as the file name
#  defualt tempData = data/tmp/
tmpData = data/tmp/

###########################################

[LOGGING]
#--directory path to store logs
#  defaulat logs/utils/
logPath = logs/utils/
logFile = app.log
#--append or write over the logs
#  default: 'a' to append, 'w+' to overwrite 
logMode = w+

