#####   UTILS DEPLOYMENT SETTINGS   #####
#      
#       should be set to suppport the class libraries and the application
#       to use the deplyment specific paramters for the OTA work loads
#        
#       See the respective sections: Spark
#
#       author: <nuwan.waidyanatha@rezgateway.com>    
#####

[APPOWNER]
#--organization name
#  default: RezAWARE (rezgateway)
orgName = rezaware
#--org url
#  default: https://rezgateway.com
orgURL = https://rezgateway.com
#--org admin email
#  defulat: rezaware@rezgateway.com
orgEmail = rezaware@rezgateway.com

###########################################

[HOSTS]
#--application hosting location must be replaced with deployed url 
#  default localhost
hostIP = 127.0.0.1
#--data hosting root location or S3 Bucket/Object
#  default ../data/
dataDIR = ../data/

###########################################

[STORES]
#--store temporary files; especially, for airflow xcom use
#  the function will use the function name as the file name
#  defualt tempData = data/tmp/
tmpData = data/tmp/

###########################################

[SPARK]
#--settings to connect to the database to perform work loads '''
#  install and setup spark: https://computingforgeeks.com/how-to-install-apache-spark-on-ubuntu-debian/
#  also install findspark by running >>> python3 -m pip install findspark
#  to download Postgres JDBC drivers: https://jdbc.postgresql.org/
sparkHomeDir = /opt/spark/
sparkBinDir = /opt/spark/bin
sparkJarDir = /opt/spark/jars/postgresql-42.5.0.jar

###########################################

[SECURITY]
#--AWS security key and 
awsSecurityKey = 
awsSecurityToken = 
awsSecurityPolicy = 
awsSecurityIAM = 

###########################################

[DATABASE]
#--database types: mysql, postgresql (default: postgres)
dbType = postgresql
#--port default 5432
dbPort = 5432
#--database driver
#  postgresql: 'org.postgresql.Driver'
dbDriver = org.postgresql.Driver
#--database name
dbName = rezstage
#--schema name
dbSchema = lakehouse
#--username and password to connect
#  default db_user=postgres, db_pswd = postgres
dbUser = postgres
dbPswd = postgres

###########################################

[LOGGING]
#--directory path to store logs
#  defaulat logs/utils/
logPath = logs/
logFile = app.log
#--logging level to set DEBUG, ERROR, WARNING, INFO
logLevel = debug
#--append or write over the logs
#  default: 'a' to append, 'w+' to overwrite 
logMode = w+

